<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Treine Hoje</title>

	<link rel="stylesheet" type="text/css" href="/static/css/estilo.css">

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style type="text/css">
	.r{
		background-color: #ff8c3a;
		color: #fffdfc; 
		padding-bottom: 5px;
	}
	.t{
		padding: 15px;
		font-size: 17px;
	}
	.q{
		padding-top: -300px;
	}
</style>

</head>
<body>

  <div class="container-fluid t">
    <div class="navbar-header ">
      <a class="navbar-brand" href="#">Treine Hoje</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Inicio</a></li>
      <li><a href="treinos/">Treinos Individuais</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'registro' %}"><span class="glyphicon glyphicon-user"></span> Cadastro</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>

<div class="q">
  <img src="{% static 'img/tre.png' %}" style="width: 100%;">
</div>
<br>
<div class="container">
	<h1 class="text-center mb-0">Datas e Locais: Exercícios funcionais coletivos GRATUITO!!!</h1>
	<br>
	<div class="row">
		<div class="col-lg-6 ml-auto">
          <p class="lead">Exercícios funcionais calistênicos GRATUITOS!!!. Chame amigos, familiares, conhecidos e venha fazer parte do nosso projetos social "Treine Hoje", uma parcerias entre as academias de Goianinha e Canguaretama, incentivando pessoas a se exercitar e alcançar uma vida mais saudável. Confira abaixo as datas e locais em sua cidade ou na cidade mais proxima.</p>
        </div>
        <div class="col-lg-6 mr-auto">
          <p class="lead">PROMOÇÃO TREINE HOJE, GANHE 50% DE DESCONTO EM SEU PRIMEIRO MÊS NAS ACADEMIAS FILIADAS DESTE PROJETO. Para participar é bem simples, cadastre-se no site "Treine Hoje", vá a um encontro de Exercicios funcionais e calistênicos em sua cidade, poste uma foto marcando nosso instagram "@treinohoje", e receba seu cupom de 50% de desconto.</p>
        </div>
	</div>
</br>
	<div class="row text-center">
		<h2 class="text-center mb-0">Goianinha: Avenida Rudson Lisboa</h2>
		<br>
		<div class="col-md-4 col-lg-6 f">
			<div></div>
			<img class="img-fluid" src="{% static 'img/c.png' %}" width="200px" height="200px">
		</div>
		<div class="col-md-4 col-lg-6 f">
			<div></div>
			<img class="img-fluid" src="{% static 'img/o.png' %}" width="200px" height="200px">
		</div>
		<h2 class="text-center mb-0">Goianinha: Praça da Lagoa</h2>
		<br>
		<div class="col-md-4 col-lg-6 f">
			<div></div>
			<img class="img-fluid" src="{% static 'img/c.png' %}" width="200px" height="200px">
		</div>
		<div class="col-md-4 col-lg-6 f">
			<div></div>
			<img class="img-fluid" src="{% static 'img/o.png' %}" width="200px" height="200px">
		</div>
		<h2 class="text-center mb-0">Canguareta: Praça do Centro</h2>
		<br>
		<div class="col-md-4 col-lg-6 f">
			<div></div>
			<img class="img-fluid" src="{% static 'img/c.png' %}" width="200px" height="200px">
		</div>
		<div class="col-md-4 col-lg-6 f">
			<div></div>
			<img class="img-fluid" src="{% static 'img/o.png' %}" width="200px" height="200px">
		</div>
		<h2 class="text-center mb-0">Canguareta: Praça do Cruzeiro</h2>
		<br>
		<div class="col-md-4 col-lg-6 f">
			<div></div>
			<img class="img-fluid" src="{% static 'img/c.png' %}" width="200px" height="200px">
		</div>
		<div class="col-md-4 col-lg-6 f">
			<div></div>
			<img class="img-fluid" src="{% static 'img/o.png' %}" width="200px" height="200px">
		</div>
	</div>
</div>

<div class="r">
<div class="container f">
	<h2 class="text-center mb-0">Descrição</h2>
	<br>
	<div class="row">
		<div class="col-lg-6 ml-auto">
          <p class="lead">O treine hoje acredita cegamente que os exercícios físicos feitos corretamente, ajuda tanto fisicamente como mentalmente. Pensando nisso, tentamos trazer um conteúdo que todas as pessoas de qualquer idade possa realizar em casa ou em qualquer lugar. Exercícios simples, mas eficazes. Contamos também com algumas parcerias de academias da região, onde elas provém alguns educadores físicos que auxiliam nos exercícios e na forma de executalos.</p>
        </div>
        <div class="col-lg-6 mr-auto">
          <p class="lead">Tudo para que você, que está em casa e pensa em mudar de vida possa aprender algo novo, com confiança, e que a cada exercício realizado vc possa melhorar sua vida em um aspecto mais saudável.</p>
        </div>
	</div>
</div>
</div>
<footer class="text-center">
	<div class="container">
		<div class="row"></div>
		<div class="mb-0">
			<img src="{% static 'img/if.png'%}" width="165px" height="75px">
        </div>
	</div>
</footer>

</body>
</html>