<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Treine Hoje</title>

  <link rel="stylesheet" type="text/css" href="/static/css/estilo.css">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style type="text/css">
    .t{
      padding: 15px;
      font-size: 17px;
    }
    .r{
      background-color: #ff8c3a;
      color: #fffdfc; 
      padding-bottom: 5px;
    }
  </style>

</head>
<body>

  <div class="container-fluid t">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">Treine Hoje</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'treinos' %}">Treinos Individuais</a></li>
    </ul>
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
      <li><a href="{% url 'meustreinos' %}">Meus Treinos</a></li>
    </ul>
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'editar' user.id %}"><span class="glyphicon glyphicon-user"></span>Editar dados</a></li>
      <li><a href="{% url 'logout' %}"> <span class="glyphicon glyphicon-ok-circle
        "></span>Sair</a></li>
      </ul>
    </div>


    <div class="r">
      <div class="container f">
        <div class="row" style="margin-bottom: 100px">
          <h2 class="text-center mb-0">Seus treinos</h2>
          
          {% for treino in treinos %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 btn-danger" style="margin: 70px">
            <div class="card-new">
              <h2 class="text-center mb-0">Nome do seu treino: <p>{{treino.nome}}</p></h2>
              <h3 class="mb-0 btn-warning">Dias: <span class="text-center ">{{treino.dia_semana}}</span></h3>    
              <div class="content-card">
                <div class="title">
                  <b style="font-size: 18px"> Regiões para serem trabalhadas:</b>
                  {% for regiaos in treino.regiao.all %}
                    <span style="font-weight: bold">{{regiaos}}; </span>
                  {% endfor %}
                </div>
                <div class="desc-div">
                  <p class="desc-evento">INTERVALO: {{treino.intervalo_treinos}} </p>
                  <p class="desc-evento">TEMPO ENTRE REPETIÇÕES: {{treino.tempo_repaticao}}</p> 
                </div>

              </div>
            </div>
          </div>
          

          {% endfor %}

        </div>
        <h4 align="center"><a href="{% url 'cadastrartreinos' %}">Cadastre novos treinos</a></h4>
      </div>
    </div>

    <footer class="text-center">
      <div class="container">
        <div class="row"></div>
        <div class="mb-0">
          <img src="{% static 'img/if.png'%}" width="165px" height="75px">
        </div>
      </div>
    </footer>

  </body>
  </html>
